<web-app>
<context-param>
<param-name>name</param-name>
<param-value>shaik dharanikota abdul gani</param-value>
</context-param>

<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.example.FirstServlet</servlet-class>
<init-param>
<param-name>roll</param-name>
<param-value>23481A12L1</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/first</url-pattern>
</servlet-mapping>
</web-app>